<div class="container">
	<h1>Todo list using jQuery</h1>
	<input type="text" id="todo_input" placeholder="What MUST you do?">
	<button id="add">Add</button>

	<h2>TODO</h2>
	<ul id="todo_list">
	</ul>

	<h2>Completed</h2>
	<ul id="completed_list">
	</ul>
</div>